.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin: 0 0 32px;
    gap: 16px 24px;

    //Medias
    @media screen and (max-width: 1000px) {
        grid-template-columns: 1fr;
        gap: 24px 0;
    }
}

.card {
    display: flex;
    align-items: center;

    width: 576px;
    height: 212px;

    border-radius: 8px;

    box-shadow: 0px 4px 16px rgba($color: $black, $alpha: 0.08);

    &__image {
        width: auto;
        max-width: 50%;
        height: 100%;

        border-radius: 8px;
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        height: 100%;

        padding: 24px;
        overflow-y: auto;
    }
    &__title {
        font-size: 24px;
        font-family: $poppins;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        color: $color-primary;
        overflow-wrap: anywhere;
    }
    &__description {
        font-family: $roboto;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;

        margin: 8px 0 0;

        overflow-wrap: anywhere;
    }

    //Medias
    @media screen and (max-width: $medium) {
        flex-direction: row;
        width: 100%;
        height: auto;
        max-height: 212px;

        &__image {
            max-width: 50%;
            height: 100%;
        }
        &__text {
            height: 212px;
            padding: 24px;
        }
    }
    @media screen and (max-width: 440px) {
        width: 100%;
        height: 424px;
        max-height: 424px;

        flex-direction: column;

        &__image {
            width: 100%;
            max-width: 100%;
            height: 50%;

            object-fit: fill;
        }
        &__text {
            height: 50%;
            padding: 24px 50px;
        }
    }
}
