.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    font-family: $roboto;

    max-width: 100%;

    &__inputs {
        display: flex;
        align-items: center;
        gap: 16px;

        padding: 0 0 16px;
        max-width: 100%;
    }

    &__image {
        &__label {
            display: block;
            width: 288px;
            height: 212px;

            border-radius: 8px;
            border: 2px solid $gray;

            text-align: center;

            padding: 94px 0 94px;

            cursor: pointer;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__input {
            display: none;
        }
    }

    &__division {
        &__inputTitle {
            position: relative;
            margin: 0 0 16px;

            &__input {
                width: 328px;
                height: 56px;

                border-radius: 4px;
                border: 2px solid $gray;
                outline: none;

                padding: 0px 10px 0px;

                transition: border 0.2s linear;

                &::placeholder {
                    opacity: 0;
                }
                &:not(:placeholder-shown) + .form__division__inputTitle__label {
                    @include labelPersonality(-16%);
                }
                &:focus {
                    border: 3px solid $color_support;

                    ::placeholder {
                        opacity: 1;
                    }
                    + .form__division__inputTitle__label {
                        @include labelPersonality(-16%);
                    }
                }
            }
            &__label {
                position: absolute;
                top: 50%;
                left: 16px;

                transform: translate(0, -50%);

                transition: all 0.1s linear;
            }
        }
        &__description {
            position: relative;

            &__textarea {
                width: 418px;
                height: 136px;
                resize: none;

                border-radius: 4px;
                border: 2px solid $gray;
                outline: none;

                font-size: inherit;
                font-family: inherit;
                color: inherit;

                padding: 10px 10px 0;

                transition: border 0.2s linear;

                &::placeholder {
                    opacity: 0;
                }
                &:not(:placeholder-shown) + .form__division__description__label {
                    @include labelPersonality(-6%);
                }
                &:focus {
                    border: 3px solid $color_support;

                    ::placeholder {
                        opacity: 1;
                    }
                    + .form__division__description__label {
                        @include labelPersonality(-6%);
                    }
                }
            }
            &__label {
                position: absolute;
                top: 25%;
                left: 16px;

                transform: translate(0, -25%);

                transition: all 0.1s linear;
            }
        }
    }

    &__button {
        width: 120px;

        border-radius: 8px;
        border: none;

        background-color: $color_support;

        padding: 16px 20px;
        margin: 0 0 12px;

        font-size: 16px;
        font-family: $poppins;
        font-style: normal;
        font-weight: 700;
        color: $white;

        transition: background 0.1s linear;

        &:hover {
            background-color: rgba($color: $black, $alpha: 0.6);
        }
        &:active {
            background-color: $color_support;
        }
    }

    //Medias
    @media screen and (max-width: $small) {
        &__inputs {
            flex-direction: column;
            align-items: flex-start;
        }
        &__division{
            max-width: 100%;

            &__inputTitle__input{
                width: 100%;
            }

            &__description__textarea{
                max-width: 100%;
            }
        }
        &__button{
            width: 100%;
        }
    }
    @media screen and (max-width: $fold) {
        &__image__label{
            width: 82vw;
        }
    }
}
