.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    max-width: 100%;

    padding: 48px 132px 0;

    &__title {
        font-size: 32px;
        font-family: $poppins;
        font-weight: 700;
        font-style: normal;
        color: $black;
        margin: 0 0 32px;
    }

    //Medias
    @media screen and (max-width: $medium) {
        padding: 16px 16px 0;
    }
}
