@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&family=Roboto:wght@400;700&display=swap");
body,
input,
button {
    font-size: 16px;
    color: $color_secundary;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 12px;
    &-track {
        box-shadow: inset 0 0 5px $gray;
        border-radius: 20px;
    }
    &-thumb {
        background: $color_support;
        border-radius: 20px;
        border: 2px solid $gray;
    }
}
