@mixin labelPersonality($top) {
    top: $top;
    font-weight: 700;
    color: $color_support;
    transform: none;
    background-color: $white;
    padding: 0 6px 0;
}

@mixin prefix($name, $value) {
    @each $vendor in ("-webkit-", "-moz-", "-ms-", "-o-", "") {
        #{$vendor}#{$name}: #{$value};
    }
}
