//Colors


//In the project
$color_primary: #333333;
$color_secundary: #858585;
$color_support: #FF5A5F;


//pattern
$black: #000000;
$white: #ffffff;
$gray: #E5E5E5;


//Fonts
$poppins : 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;

//Medias
$fold: 280px;
$small: 768px;
$medium: 1280px;
